
.teachers-item {
    width: 210px;
    text-align: center;
    border-radius: 8px;
    background-color: #ede9fc;
    padding-bottom: 20px;
    margin: 15px 10px;
}

.teachers-img {
    width: 210px;
    height: 210px;
    margin-bottom: 20px;
    border-radius: 8px 8px 0 0;
}